*{
  margin: 0;
  padding: 0;

}

:root{
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

body{
  background-color: #29292E;
}

#page{
  box-sizing: border-box;
  width: 1280px;
  padding: 64px;
  background-color: #F5F4F0;
  margin: 80px auto;
}

main{
  padding-top: 40px;
  margin: 80px auto;
}

img{
  border-radius: 28px;
  width: 100%;
  margin-top: 44px;
}

#page > img{
  width: 1120px;
  height: 660px;
}

main div img {
  height: 375px;
  object-fit: cover; 
  margin-top: 64px;
}

.titulo{
  font-weight: bold;
  font-size: 16;
  text-transform: uppercase;
  color: #E1624F;
}

h1{
  font-size: 36px;
  margin-top: 8px;
}

h2{
  font-size: 32px;
  margin-top: 2px;
  margin-bottom: 8px;
}

h3{
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 4px;
}

h1,h2,h3{
  color: #1B1B1B;
}

.informativo{
  margin-top: 48px;
}

h4{
  color: #333333;
  margin-top: 20px;
}

.description-img{
  text-align: center;
  font-style: italic;
}

ul li{
  list-style: inside;
  font-weight: bold;
}

ul li b {
  color: #0C51A7;
}

ul li::marker {
  color: #333;
}

ul li:nth-child(1) {
  color: #591B98;
}

ul li:nth-child(2) {
  color: #E5245E;
}

ul li:nth-child(3) {
  color: #E95E10;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

footer{
   text-align: center;
   padding-bottom: 48px;
}

footer > img{
  width: 16px;
  height: 16px;
  vertical-align: auto;
  margin-bottom: -3px;
}